body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.header-hero-container,
.footer {
    background-color: #1F2937;
}

.notify-button,
.socials-container .child {
    background-color: #3882f6;
}

.header-hero-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
}

.hero-container.margin, 
.header-container.margin {
    margin-left: 250px;
    margin-right: 250px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    justify-content: center;
}

.hero-image {
    width: 400px;
    height: auto;
    flex: 1;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.info img {
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
    border-radius: 25px;
    outline: 2px solid #3882f6;
}

.images-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.info .text {
    text-align: center;
    width: 200px;
    height: auto;
}

.hp-container {
    display: flex;
    outline: 4px solid darkgoldenrod;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.house-container,
.quiz-container {
    flex: 1;
    outline: 2px solid darkgoldenrod;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px;
}

.gryffindor {
    background-color: darkred;
}

.hufflepuff {
    background-color: gold;
}

.ravenclaw {
    background-color: darkblue;
}

.slytherin {
    background-color: darkgreen;
}



.house-container img {
    width: 200px;
    height: 200px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 150px 400px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-content .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-content .sub {
    font-size: 18px;
    color: #E5E7EB;
}

.notify-button {
    width: 100px;
    color: white;
    padding: 4px 12px;
    border-radius: 8px;
}

.image-caption {
    color: white;
    text-align: right;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote .main {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 20px;
}

.quote .sub {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.socials-container .child {
    display: flex;
    justify-content: space-between;
    padding: 30px 85px;
    border-radius: 5px;
    gap: 125px;
}

.text-container {
    color: white;
}

.text-container .main {
    font-size: 18px;
    font-weight: 600;
}

.text-container .sub  {
    font-size: 14px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.social-links {
    display: flex;
    gap: 40px;
}

.button-container button {
    margin: 0;
    background-color: #3882f6;
    border: none;
}

.email {
    color: white;
}

a img {
    width: 24px;
    height: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}


.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}



