body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.header-hero-container,
.footer {
    background-color: #1F2937;
}

.notify-button,
.child {
    background-color: #3882f6;
}

.header-hero-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
}

.hero-container.margin, 
.header-container.margin {
    margin-left: 250px;
    margin-right: 250px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    justify-content: center;
}

.hero-image {
    width: 400px;
    height: auto;
    flex: 1;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.quote-container {
    background-color: #E5E7EB;
}



.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-content .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-content .sub {
    font-size: 18px;
    color: #E5E7EB;
}

.notify-button {
    width: 100px;
    color: white;
    padding: 4px 12px;
    border-radius: 8px;
}

.image-caption {
    color: white;
    text-align: right;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote .main {
    font-size: 36px;
    color: #1F2937;
}

.quote .sub {
    font-weight: bold;
    font-size: 24px;
}

button img {
    width: 24px;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}



